### Python documentation for the MIDS program
####Due November 20 2015 to Courtney

What I want to do:
- Import all data from actigraphs, azumio and fitbit
- Make graphs to compare all for each user
- With all data individually:
    Average steps over a 7 day period
- With actigraph data, get MVPA

In [110]:
import pandas as pd
import numpy as np

In [111]:
accel = pandas.read_csv('/Users/megan/Desktop/Py project/Accel CSV data/User701_ActigraphMay.csv', skipinitialspace=True)
print(accel)

            Date      Time  Axis1  Axis2  Axis3  Steps  Vector Magnitude
0      5/15/2015   8:00:00      0      0      0      0              0.00
1      5/15/2015   8:01:00      0      0      0      0              0.00
2      5/15/2015   8:02:00      0      0      0      0              0.00
3      5/15/2015   8:03:00      0      0      0      0              0.00
4      5/15/2015   8:04:00      0      0      0      0              0.00
5      5/15/2015   8:05:00      0      0      0      0              0.00
6      5/15/2015   8:06:00      0      0      0      0              0.00
7      5/15/2015   8:07:00      0      0      0      0              0.00
8      5/15/2015   8:08:00      0      0      0      0              0.00
9      5/15/2015   8:09:00      0      0      0      0              0.00
10     5/15/2015   8:10:00      0      0      0      0              0.00
11     5/15/2015   8:11:00      0      0      0      0              0.00
12     5/15/2015   8:12:00      0      0      0      0              0.00
13     5/15/2015   8:13:00      0      0      0      0              0.00
14     5/15/2015   8:14:00      0      0      0      0              0.00
15     5/15/2015   8:15:00      0      0      0      0              0.00
16     5/15/2015   8:16:00      0      0      0      0              0.00
17     5/15/2015   8:17:00      0      0      0      0              0.00
18     5/15/2015   8:18:00      0      0      0      0              0.00
19     5/15/2015   8:19:00      0      0      0      0              0.00
20     5/15/2015   8:20:00      0      0      0      0              0.00
21     5/15/2015   8:21:00      0      0      0      0              0.00
22     5/15/2015   8:22:00      0      0      0      0              0.00
23     5/15/2015   8:23:00      0      0      0      0              0.00
24     5/15/2015   8:24:00      0      0      0      0              0.00
25     5/15/2015   8:25:00      0      0      0      0              0.00
26     5/15/2015   8:26:00      0      0      0      0              0.00
27     5/15/2015   8:27:00      0      0      0      0              0.00
28     5/15/2015   8:28:00      0      0      0      0              0.00
29     5/15/2015   8:29:00      0      0      0      0              0.00
...          ...       ...    ...    ...    ...    ...               ...
34953   6/8/2015  14:33:00      0      0      0      0              0.00
34954   6/8/2015  14:34:00      0      0      0      0              0.00
34955   6/8/2015  14:35:00      0      0      0      0              0.00
34956   6/8/2015  14:36:00      0      0      0      0              0.00
34957   6/8/2015  14:37:00      0      0      0      0              0.00
34958   6/8/2015  14:38:00      0      0      0      0              0.00
34959   6/8/2015  14:39:00      0      0      0      0              0.00
34960   6/8/2015  14:40:00      0      0      0      0              0.00
34961   6/8/2015  14:41:00      0      0      0      0              0.00
34962   6/8/2015  14:42:00      0      0      0      0              0.00
34963   6/8/2015  14:43:00      0      0      0      0              0.00
34964   6/8/2015  14:44:00      0      0      0      0              0.00
34965   6/8/2015  14:45:00      0      0      0      0              0.00
34966   6/8/2015  14:46:00      0      0      0      0              0.00
34967   6/8/2015  14:47:00      0      0      0      0              0.00
34968   6/8/2015  14:48:00      0      0      0      0              0.00
34969   6/8/2015  14:49:00      0      0      0      0              0.00
34970   6/8/2015  14:50:00      0      0      0      0              0.00
34971   6/8/2015  14:51:00      0      0      0      0              0.00
34972   6/8/2015  14:52:00      0      0      0      0              0.00
34973   6/8/2015  14:53:00      0      0      0      0              0.00
34974   6/8/2015  14:54:00      0      0      0      0              0.00
34975   6/8/2015  14:55:00      0      0      0      0              0.00
34976   6/8/2015  14:56:00     36      0     11      1             37.64
34977   6/8/2015  14:57:00      0      0      0      0              0.00
34978   6/8/2015  14:58:00      0      0      0      0              0.00
34979   6/8/2015  14:59:00      0      0      0      0              0.00
34980   6/8/2015  15:00:00      0     22      5      0             22.56
34981   6/8/2015  15:01:00      0      0      0      0              0.00
34982   6/8/2015  15:02:00      0      0      0      0              0.00

[34983 rows x 7 columns]

In [112]:
# Limiting dates to the days of the study
date1 = np.array(accel.Date > "5/16/2015")
date2 = np.array(accel.Date < "5/25/2015")
wear_dates = np.logical_and(date1, date2)

accel = accel[wear_dates]

In [113]:
# Grouping by study day and finding out total steps per day
by_date = accel.groupby("Date")
daily_steps = by_date['Steps'].sum()

In [117]:
# Defining minutes of moderate and vigorous physical activity
mvpa = np.array(accel.Axis1 > 1951)

# Creating a dataframe with only minutes of mvpa included
accel_mvpa = accel[mvpa]

# Getting total minutes of MVPA for each day
by_date_mvpa = accel_mvpa.groupby("Date")
daily_mvpa = by_date_mvpa['Axis1'].count()
daily_mvpa

Date
5/17/2015    20
5/18/2015    66
5/19/2015    41
5/20/2015    56
5/21/2015    51
5/22/2015    75
5/23/2015    52
5/24/2015    60
Name: Axis1, dtype: int64

In [128]:
daily_701 = pd.DataFrame({'User': 701, 'Steps': daily_steps, 'MVPA' : daily_mvpa}).reset_index()

In [129]:
daily_701

        Date  MVPA  Steps  User
0  5/17/2015    20   5851   701
1  5/18/2015    66   9656   701
2  5/19/2015    41   6649   701
3  5/20/2015    56   7936   701
4  5/21/2015    51   8030   701
5  5/22/2015    75  11172   701
6  5/23/2015    52   8046   701
7  5/24/2015    60   8624   701