### Python documentation for the MIDS program
####Due November 20 2015 to Courtney

What I want to do:
- Import all data from actigraphs, azumio and fitbit
- Make graphs to compare all for each user
- With all data individually:
    Average steps over a 7 day period
- With actigraph data, get MVPA

In [167]:
import pandas as pd
import numpy as np
import os.path
import glob

In [209]:
# Creating a list of all accelerometer .csv files
accel_file = glob.glob("/Users/megan/Desktop/MIDS project/Accel CSV data/User*_ActigraphMay.csv")

# Creating a dataframe that stores user and date range information, setting user id as the index
dates = pandas.read_csv('/Users/megan/Desktop/MIDS project/Dates.csv', index_col=0)
dates

       Initial    Final
701    5/17/15  5/25/15
2130   5/19/15  5/27/15
6332   5/18/15  5/26/15
7373   5/20/15  5/28/15
7685    6/1/15   6/9/15
9412   5/18/15  5/26/15
10311  5/15/15  5/23/15
10467  5/17/15  5/25/15
10601  5/18/15  5/26/15
10900  5/18/15  5/26/15
10921  5/17/15  5/25/15
10950  5/16/15  5/24/15
13466  5/23/15  5/31/15
13616  5/19/15  5/27/15
13716  5/18/15  5/26/15
14522   6/1/15   6/8/15
16168  5/19/15  5/27/15
16242  5/18/15  5/26/15
17418  5/21/15  5/29/15
17634  5/19/15  5/27/15
18484  5/22/15  5/30/15
18786  5/25/15   6/2/15
21019  5/17/15  5/25/15
21282  5/19/15  5/27/15
22253  5/14/15  5/22/15
23650  5/19/15  5/27/15
24584  5/22/15  5/30/15
24695  5/21/15  5/29/15

In [211]:
for file in accel_file:
    # Reading the accelerometer file and storing it as a dataframe
    accel = pandas.read_csv(file, skipinitialspace=True)
    
    # Storing the user ID from the file name
    user_id = int(os.path.basename(file).split("_")[0].replace('User',''))
    
    # Limiting dates to the days of the study
    date_range = dates.loc[user_id]
    date_bool1 = np.array(accel.Date > date_range.Initial)
    date_bool2 = np.array(accel.Date < date_range.Final)
    wear_dates = np.logical_and(date_bool1, date_bool2)
    accel = accel[wear_dates]

In [134]:
# Grouping by study day and finding out total steps per day
by_date = accel.groupby("Date")
daily_steps = by_date['Steps'].sum()

In [135]:
# Defining minutes of moderate and vigorous physical activity
mvpa = np.array(accel.Axis1 > 1951)

# Creating a dataframe with only minutes of mvpa included
accel_mvpa = accel[mvpa]

# Getting total minutes of MVPA for each day
by_date_mvpa = accel_mvpa.groupby("Date")
daily_mvpa = by_date_mvpa['Axis1'].count()

In [136]:
# Creating a dataframe that includes daily steps and daily minutes of MVPA for this user
daily_701 = pd.DataFrame({'User': 701, 'Steps': daily_steps, 'MVPA' : daily_mvpa}).reset_index()